manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=19.04.0"
}



params {
	input {
		dir = "kinc/output"
		nvprof_files = "*.nvprof.txt"
	}

	output {
		dir = "output"
	}

	aggregate {
		enabled = true
		nvprof_mapper = "${baseDir}/files/nvprof-mapper.txt"
	}

	visualize {
		enabled = true
		format = "png"
		plots = [
			[
				"xaxis": "experiment_value",
				"xaxis_values": [],
				"yaxis": "time_avg",
				"yaxis_values": [],
				"hue1": "gpu_model",
				"hue1_values": ["k20", "p100", "v100"],
				"hue2": "",
				"hue2_values": []
			]
		]
	}
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"
		}
		executor {
			queueSize = 1
		}
	}
}
