manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=21.04"
}



params {
    pipeline_name = ""
    conda_env = "tesseract"

    run = false
    run_conditions_file = "conditions.*.txt"
    run_pipeline = ""
    run_profiles = ""
    run_output_dir = ""
    run_trace_file = ""
    run_trials = 1

    aggregate = false

    train = false
    train_merge_args = []
    train_inputs = [:]
    train_targets = ["runtime_hr", "memory_GB", "disk_GB"]
    train_scaler = "maxabs"
    train_model_type = "mlp"
    train_intervals = true

    predict = false
    predict_targets = ["runtime_hr", "memory_GB", "disk_GB"]
    predict_process = null
    predict_inputs = null
}



process {
    errorStrategy = "terminate"
    cpus = 1
    memory = 4.GB
}



executor {
    name = "local"
    cpus = 1
}
