manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}



params {
    conditions_file = ""
    pipeline_dir = ""
    pipeline_output_dir = ""
    profiles = ""
    trace_dir = ""
    trials = 1
}



process {
    errorStrategy = "ignore"
}



profiles {
    standard {
        process {
            executor = "local"
            cpus = 1
            memory = 4.GB
        }
        executor {
            queueSize = 1
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
