manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}



params {
    input {
        conditions = []
        trials = 3
    }

    output {
        dir = "output"
    }
}



report {
    enabled = true
    file = "${params.output.dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output.dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.dir}/reports/trace.txt"
    raw = true
}



process {
    beforeScript = { "make -C ${workflow.launchDir}; ${workflow.launchDir}/minibench trace" }
    errorStrategy = "ignore"
}



profiles {
    pbs {
        params {
            input.conditions = [
                [ "phase": "1a" ],
                [ "phase": "1b" ],
                [ "phase": "2a" ],
                [ "phase": "2b" ],
                [ "phase": "3" ],
                [ "phase": "4" ],
                [ "phase": "5a" ],
                [ "phase": "5b" ],
                [ "phase": "5c" ],
                [ "phase": "5d" ],
                [ "phase": "6" ],
                [ "phase": "7a" ],
                [ "phase": "7b" ],
                [ "phase": "8a",  "gpu_model": "k20" ],
                [ "phase": "8b",  "gpu_model": "k20" ],
                [ "phase": "9",   "gpu_model": "k20" ],
                [ "phase": "10",  "gpu_model": "k20" ],
                [ "phase": "11a", "gpu_model": "k40" ],
                [ "phase": "11b" ],
                [ "phase": "12",  "gpu_model": "k40" ],
                [ "phase": "13",  "gpu_model": "k40" ],
                [ "phase": "14",  "gpu_model": "k40" ],
                [ "phase": "15",  "gpu_model": "k40" ],
                [ "phase": "16",  "gpu_model": "p100" ],
                [ "phase": "17",  "gpu_model": "p100" ],
                [ "phase": "18b", "gpu_model": "v100" ],
                [ "phase": "18c", "gpu_model": "v100" ],
                [ "phase": "19a", "gpu_model": "v100" ],
                [ "phase": "19b" ],
                [ "phase": "21",  "gpu_model": "v100" ],
            ]
        }
        process {
            executor = "pbspro"
            time = "1h"

            clusterOptions = {
                c.gpu_model != null
                ? "-l select=1:ncpus=2:mem=4gb:phase=${c.phase}:interconnect=any:ngpus=1:gpu_model=${c.gpu_model}"
                : "-l select=1:ncpus=2:mem=4gb:phase=${c.phase}:interconnect=any"
            }

            module = "cuda/11.0.3-gcc/8.3.1"
        }
        executor {
            queueSize = 50
        }
    }

    standard {
        params {
            input.conditions = [
                [ "phase": "0" ]
            ]
        }
        process {
            executor = "local"
            cpus = 1
            memory = 4.GB
        }
        executor {
            queueSize = 1
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
