manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}



params {
    platform_name = ""
    conditions = []
    trials = 3

    output_dir = "trace"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output_dir}/${params.platform_name}.trace.txt"
    raw = true
}



process {
    errorStrategy = "ignore"
}



profiles {
    nautilus {
        params.platform_name = "nautilus"
        params.conditions = [
            [ "node_type": "aptd.sdsu.edu" ],
            [ "node_type": "ceph-1.gpn.onenet.net" ],
            [ "node_type": "clu-fiona2.ucmerced.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "controller0.calit2.optiputer.net" ],
            [ "node_type": "dtn-gpu2.kreonet.net", "gpu_model": "titan-xp" ],
            [ "node_type": "dtn-main.ucr.edu" ],
            [ "node_type": "dtn0.noc.ucdavis.edu" ],
            [ "node_type": "dtn101.sl.startap.net" ],
            [ "node_type": "dtn2-daejeon.kreonet.net" ],
            [ "node_type": "edex.calit2.optiputer.net" ],
            [ "node_type": "epic001.clemson.edu", "gpu_model": "2080Ti" ],
            [ "node_type": "esnet-xcache-01.t2.ucsd.edu" ],
            [ "node_type": "evldtn.evl.uic.edu", "gpu_model": "M4000" ],
            [ "node_type": "fiona-100g.ucsc.edu" ],
            [ "node_type": "fiona-dtn-1.calit2.uci.edu" ],
            [ "node_type": "fiona-dtn-1.ucsc.edu" ],
            [ "node_type": "fiona-dtn.usc.edu" ],
            [ "node_type": "fiona-r-uva.vlan7.uvalight.net" ],
            [ "node_type": "fiona.cac.washington.edu" ],
            [ "node_type": "fiona.its.hawaii.edu" ],
            [ "node_type": "fiona.nwsc.ucar.edu" ],
            [ "node_type": "fiona.sdsu.edu" ],
            [ "node_type": "fiona.tools.ucla.net" ],
            [ "node_type": "fiona.ucsc.edu" ],
            [ "node_type": "fiona8-0.calit2.uci.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "fiona8-1.calit2.uci.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "fiona8-2.calit2.uci.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "fiona8-3.calit2.uci.edu" ],
            [ "node_type": "fiona8.ucsc.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "gdc-fiona-dtn.mren.org" ],
            [ "node_type": "gpn-fiona.usd.edu" ],
            [ "node_type": "hcc-gpn-k8-1.unl.edu" ],
            [ "node_type": "hcc-prp-c1312.unl.edu" ],
            [ "node_type": "hydra.gi.ucsc.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "igrok-la.cenic.net" ],
            [ "node_type": "jupyter.calit2.optiputer.net" ],
            [ "node_type": "k8-1.gpn.onenet.net" ],
            [ "node_type": "k8s-a100-01.calit2.optiputer.net", "gpu_model": "A100" ],
            [ "node_type": "k8s-a40-01.calit2.optiputer.net", "gpu_model": "A40" ],
            [ "node_type": "k8s-bafna-01.calit2.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-bharadia-01.sdsc.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-bharadia-03.sdsc.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-bharadia-04.sdsc.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-01.calit2.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-01.noc.ucsb.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-03.calit2.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-04.calit2.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-06.calit2.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-chase-ci-07.calit2.optiputer.net", "gpu_model": "3090" ],
            [ "node_type": "k8s-chase-ci-10.calit2.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-dtn-01.uog.edu" ],
            [ "node_type": "k8s-epyc-01.sdsc.optiputer.net" ],
            [ "node_type": "k8s-gen4-01.ampath.net" ],
            [ "node_type": "k8s-gen4-01.calit2.optiputer.net" ],
            [ "node_type": "k8s-gen4-02.calit2.optiputer.net" ],
            [ "node_type": "k8s-gen4-07.ultralight.org" ],
            [ "node_type": "k8s-gpu-01.calit2.optiputer.net", "gpu_model": "1080" ],
            [ "node_type": "k8s-gpu-03.sdsc.optiputer.net", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-gpu-1.ucsc.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-gpu-2.ucsc.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "k8s-haosu-01.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-02.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-04.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-05.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-06.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-07.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-08.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-09.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-10.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-11.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-12.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-14.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-15.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-16.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-17.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-18.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-19.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-20.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-21.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-22.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-23.sdsc.optiputer.net", "gpu_model": "2080Ti" ],
            [ "node_type": "k8s-haosu-24.sdsc.optiputer.net", "gpu_model": "TITANRTX" ],
            [ "node_type": "k8s-igrok-01.calit2.optiputer.net" ],
            [ "node_type": "k8s-igrok-02.calit2.optiputer.net" ],
            [ "node_type": "k8s-igrok-03.calit2.optiputer.net" ],
            [ "node_type": "k8s-igrok-04.calit2.optiputer.net" ],
            [ "node_type": "k8s-igrok-05.calit2.optiputer.net" ],
            [ "node_type": "k8s-nvme-01.sdsc.optiputer.net" ],
            [ "node_type": "k8s-nvme-01.ultralight.org" ],
            [ "node_type": "k8s-prp-sdsu-dalek08.sdsu.edu" ],
            [ "node_type": "k8s-ravi-01.calit2.optiputer.net", "gpu_model": "titan-xp" ],
            [ "node_type": "k8s-u200-01.calit2.optiputer.net", "gpu_model": "T4" ],
            [ "node_type": "k8s-u200-02.calit2.optiputer.net" ],
            [ "node_type": "k8s-u280-01.calit2.optiputer.net" ],
            [ "node_type": "k8s-usra-01.calit2.optiputer.net" ],
            [ "node_type": "k8s-usra-02.calit2.optiputer.net" ],
            [ "node_type": "k8s-x1-01.calit2.optiputer.net", "gpu_model": "1060" ],
            [ "node_type": "k8s1-pb10.ultralight.org" ],
            [ "node_type": "maserati.sciencedmz.nps.edu" ],
            [ "node_type": "nautilusc01.sci.cwru.edu" ],
            [ "node_type": "netw-fiona-ucsf.stanford.edu" ],
            [ "node_type": "netw-fiona.stanford.edu" ],
            [ "node_type": "nrp-c1.nysernet.org" ],
            [ "node_type": "nrp-c10.nysernet.org" ],
            [ "node_type": "nrp-c11.nysernet.org" ],
            [ "node_type": "nrp-c12.nysernet.org" ],
            [ "node_type": "nrp-c13.nysernet.org" ],
            [ "node_type": "nrp-c14.nysernet.org" ],
            [ "node_type": "nrp-c15.nysernet.org" ],
            [ "node_type": "nrp-c16.nysernet.org" ],
            [ "node_type": "nrp-c2.nysernet.org" ],
            [ "node_type": "nrp-c4.nysernet.org" ],
            [ "node_type": "nrp-c5.nysernet.org" ],
            [ "node_type": "nrp-c6.nysernet.org" ],
            [ "node_type": "nrp-c7.nysernet.org" ],
            [ "node_type": "nrp-g1.nysernet.org", "gpu_model": "2080Ti" ],
            [ "node_type": "nrp-s1.nysernet.org" ],
            [ "node_type": "nrp0.njedge.net" ],
            [ "node_type": "osg-houston-stashcache.nrp.internet2.edu", "gpu_model": "T4" ],
            [ "node_type": "osg-sunnyvale-stashcache.nrp.internet2.edu", "gpu_model": "T4" ],
            [ "node_type": "osg.chic.nrp.internet2.edu" ],
            [ "node_type": "osg.kans.nrp.internet2.edu" ],
            [ "node_type": "osg.newy32aoa.nrp.internet2.edu" ],
            [ "node_type": "ott2.cenidtn.net" ],
            [ "node_type": "patternlab.calit2.optiputer.net" ],
            [ "node_type": "perfsonar.csusb.edu" ],
            [ "node_type": "perfsonar.uog.edu" ],
            [ "node_type": "prp-dtn.noc.ucsb.edu" ],
            [ "node_type": "prp-gpu-2.t2.ucsd.edu", "gpu_model": "1080Ti" ],
            [ "node_type": "prp-gpu-4.t2.ucsd.edu", "gpu_model": "2080Ti" ],
            [ "node_type": "prp-gpu-6.t2.ucsd.edu", "gpu_model": "2080Ti" ],
            [ "node_type": "prp01.ifa.hawaii.edu", "gpu_model": "3090" ],
            [ "node_type": "ps-100g-scidmz-0.tools.ucla.net" ],
            [ "node_type": "ps-100g.sdsu.edu" ],
            [ "node_type": "rincewind.crbs.ucsd.edu", "gpu_model": "TITANRTX" ],
            [ "node_type": "sdsmt-fiona.sdsmt.edu" ],
            [ "node_type": "siderea.ucsc.edu" ],
            [ "node_type": "stashcache.gravity.cf.ac.uk" ],
            [ "node_type": "stashcache.t2.ucsd.edu" ],
            [ "node_type": "suncave-0", "gpu_model": "2080Ti" ],
            [ "node_type": "suncave-1", "gpu_model": "2080Ti" ],
            [ "node_type": "suncave-10", "gpu_model": "1080" ],
            [ "node_type": "suncave-11", "gpu_model": "1080" ],
            [ "node_type": "suncave-12", "gpu_model": "1080" ],
            [ "node_type": "suncave-13", "gpu_model": "1080" ],
            [ "node_type": "suncave-14", "gpu_model": "1080" ],
            [ "node_type": "suncave-15", "gpu_model": "2080Ti" ],
            [ "node_type": "suncave-16", "gpu_model": "1080" ],
            [ "node_type": "suncave-17", "gpu_model": "1080" ],
            [ "node_type": "suncave-18", "gpu_model": "1080" ],
            [ "node_type": "suncave-19", "gpu_model": "1080" ],
            [ "node_type": "suncave-2", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-20", "gpu_model": "1080" ],
            [ "node_type": "suncave-21", "gpu_model": "1080" ],
            [ "node_type": "suncave-22", "gpu_model": "1080" ],
            [ "node_type": "suncave-23", "gpu_model": "1080" ],
            [ "node_type": "suncave-24", "gpu_model": "1080" ],
            [ "node_type": "suncave-25", "gpu_model": "2080Ti" ],
            [ "node_type": "suncave-26", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-27", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-28", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-29", "gpu_model": "1080" ],
            [ "node_type": "suncave-3", "gpu_model": "1080" ],
            [ "node_type": "suncave-30", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-31", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-32", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-33", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-34", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-4", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-5", "gpu_model": "1080" ],
            [ "node_type": "suncave-6", "gpu_model": "1080" ],
            [ "node_type": "suncave-7", "gpu_model": "1080" ],
            [ "node_type": "suncave-8", "gpu_model": "1080" ],
            [ "node_type": "suncave-9", "gpu_model": "1080Ti" ],
            [ "node_type": "suncave-head", "gpu_model": "1080" ],
            [ "node_type": "swosu-brandy.offn.onenet.net", "gpu_model": "T4" ],
            [ "node_type": "uicnrp01.evl.uic.edu", "gpu_model": "1070" ],
            [ "node_type": "uicnrp02.evl.uic.edu", "gpu_model": "1070" ],
            [ "node_type": "uicnrp03.evl.uic.edu", "gpu_model": "1070" ],
            [ "node_type": "v100-cc-star-01.noc.ucsb.edu", "gpu_model": "V100" ],
            [ "node_type": "venadi.ucsc.edu" ],
            [ "node_type": "xcache-11.t2.ucsd.edu" ]
        ]

        process {
            cpus = 2
            memory = 6.GB
            time = 1.h
            accelerator = { c.gpu_model != null ? 1 : 0 }

            pod = { [ "nodeSelector": ["name": c.node_type] ] }
        }
        executor {
            queueSize = 50
        }
    }

    palmetto {
        params.platform_name = "palmetto"
        params.conditions = [
            [ "node_type": "1a" ],
            [ "node_type": "1b" ],
            [ "node_type": "2a" ],
            [ "node_type": "2b" ],
            [ "node_type": "3" ],
            [ "node_type": "4" ],
            [ "node_type": "5a" ],
            [ "node_type": "5b" ],
            [ "node_type": "5c" ],
            [ "node_type": "5d" ],
            [ "node_type": "6" ],
            [ "node_type": "7a" ],
            [ "node_type": "7b" ],
            [ "node_type": "8a",  "gpu_model": "k20" ],
            [ "node_type": "8b",  "gpu_model": "k20" ],
            [ "node_type": "9",   "gpu_model": "k20" ],
            [ "node_type": "10",  "gpu_model": "k20" ],
            [ "node_type": "11a", "gpu_model": "k40" ],
            [ "node_type": "11b" ],
            [ "node_type": "12",  "gpu_model": "k40" ],
            [ "node_type": "13",  "gpu_model": "k40" ],
            [ "node_type": "14",  "gpu_model": "k40" ],
            [ "node_type": "15",  "gpu_model": "k40" ],
            [ "node_type": "16",  "gpu_model": "p100" ],
            [ "node_type": "17",  "gpu_model": "p100" ],
            [ "node_type": "18b", "gpu_model": "v100" ],
            [ "node_type": "18c", "gpu_model": "v100" ],
            [ "node_type": "19a", "gpu_model": "v100" ],
            [ "node_type": "19b" ],
            [ "node_type": "21",  "gpu_model": "v100" ],
        ]

        process {
            executor = "pbspro"
            time = 1.h

            clusterOptions = {
                c.gpu_model != null
                ? "-l select=1:ncpus=2:mem=6gb:phase=${c.node_type}:ngpus=1:gpu_model=${c.gpu_model}"
                : "-l select=1:ncpus=2:mem=6gb:phase=${c.node_type}"
            }

            module = "cuda/11.0.3-gcc/8.3.1"
        }
        executor {
            queueSize = 50
        }
    }

    standard {
        params.platform_name = "local"
        params.conditions = [
            [ "node_type": "0" ]
        ]

        process {
            executor = "local"
            cpus = 1
            memory = 4.GB
        }
        executor {
            queueSize = 1
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
