manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}



params {
    input {
        conditions = []
        trials = 3
    }

    output {
        dir = "output"
    }
}



report {
    enabled = true
    file = "${params.output.dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output.dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.dir}/reports/trace.txt"
    raw = true
}



process {
    beforeScript = { "make -C ${workflow.launchDir}" }
    errorStrategy = "ignore"
}



profiles {
    pbs {
        params {
            input.conditions = [
                [ "phase": "1a" ],
                [ "phase": "1b" ],
                [ "phase": "2a" ],
                [ "phase": "2b" ],
                [ "phase": "3" ],
                [ "phase": "4" ],
                [ "phase": "5a" ],
                [ "phase": "5b" ],
                [ "phase": "5c" ],
                [ "phase": "5d" ],
                [ "phase": "6" ],
                [ "phase": "7a" ],
                [ "phase": "7b" ],
                [ "phase": "8a" ],
                [ "phase": "8b" ],
                [ "phase": "8c" ],
                [ "phase": "9" ],
                [ "phase": "10" ],
                [ "phase": "11a" ],
                [ "phase": "11b" ],
                [ "phase": "12" ],
                [ "phase": "13" ],
                [ "phase": "14" ],
                [ "phase": "15" ],
                [ "phase": "16" ],
                [ "phase": "17" ],
                [ "phase": "18a" ],
                [ "phase": "18b" ],
                [ "phase": "18c" ],
                [ "phase": "19a" ],
                [ "phase": "19b" ],
                [ "phase": "20" ],
                [ "phase": "21" ],
            ]
        }
        process {
            executor = "pbspro"
            cpus = 1
            memory = 4.GB
            time = "1h"

            clusterOptions = { "-l select=1:phase=${c.phase}" }
        }
        executor {
            queueSize = 50
        }
    }

    standard {
        params {
            input.conditions = [
                [ "phase": "0" ]
            ]
        }
        process {
            executor = "local"
            cpus = 1
            memory = 4.GB
        }
        executor {
            queueSize = 1
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
