manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=19.04.0"
}



env {
	PATH = "${PATH}:${PWD}/bin"
}



params {
	input {
		dir = "hemelb/input"
		gmy_files = "*.gmy"
		xml_files = "*.xml"
		conditions_file = "conditions.txt"
		trials = 3
	}

	output {
		dir = "hemelb/output"
	}
}



report {
	enabled = true
	file = "${params.output.dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output.dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output.dir}/reports/trace.txt"
	raw = true
}



process {
	errorStrategy = "ignore"
	scratch = false
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"

			beforeScript = "export TMPDIR=\${PWD}"
			afterScript = "rm -rf results"
		}
		executor {
			queueSize = 1
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbspro"
			time = "8h"

			withName:run_experiment {
				clusterOptions = { "-l select=${(c.np + 1).intdiv(2)}:ncpus=4:mpiprocs=2:mem=32gb:ngpus=2:gpu_model=${c.gpu_model}" }
				module = { "hemelb/dev-${c.latticetype}" }
			}
		}
		executor {
			queueSize = 100
		}
	}
}
