manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=0.32.0"
}

params {
	input_dir = "${PWD}/input"
	output_dir = "${PWD}/output"

	blocksize {
		enabled = true
		values = [16, 32, 64, 128, 256, 512, 1024]
	}

	latticetype {
		enabled = false
		values = ["D3Q15", "D3Q19", "D3Q27"]
	}

	oversubscribe {
		enabled = false
		values = [1, 2, 3, 4, 5, 6, 7, 8]
	}

	scalability_cpu {
		enabled = false
		values = [1, 2, 4, 8]
	}

	scalability_gpu {
		enabled = false
		values = [1, 2, 4, 8]
	}
}



report {
	enabled = true
	file = "${params.output_dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output_dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output_dir}/reports/trace.txt"
	raw = true
}



process {
	errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"
		}
		executor {
			queueSize = 1
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbs"
			time = "8h"
			scratch = false

			withName:blocksize {
				clusterOptions "-l select=1:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=p100"
				module = "hemelb/dev-D3Q15"
			}

			withName:latticetype {
				clusterOptions "-l select=1:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=p100"
			}

			withName:oversubscribe {
				clusterOptions "-l select=1:ncpus=8:mpiprocs=8:mem=8gb:ngpus=2:gpu_model=p100"
				module = "hemelb/dev-D3Q15"
			}

			withName:scalability_cpu {
				clusterOptions "-l select=1:ncpus=8:mpiprocs=8:mem=32gb:gpu_model=p100"
			}

			withName:scalability_gpu {
				clusterOptions "-l select=4:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=p100"
			}
		}
		executor {
			queueSize = 100
		}
	}
}
