manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=19.04.0"
}

params {
	input {
		dir = "input"
		gmy_files = "*.gmy"
		xml_files = "*.xml"
		gpu_models = ["p100", "v100"]
	}

	output {
		dir = "output"
	}

	defaults {
		gpu_model = "p100"
		latticetype = "D3Q15"
	}

	blocksize {
		enabled = true
		values = [16, 32, 64, 128, 256, 512, 1024]
	}

	latticetype {
		enabled = false
		values = ["D3Q15", "D3Q19", "D3Q27"]
	}

	oversubscribe {
		enabled = false
		values = [1, 2, 3, 4, 5, 6, 7, 8]
	}

	scalability_cpu {
		enabled = false
		values = [1, 2, 4, 8]
	}

	scalability_gpu {
		enabled = false
		values = [1, 2, 4, 8]
	}
}



report {
	enabled = true
	file = "${params.output.dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output.dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output.dir}/reports/trace.txt"
	raw = true
}



process {
	errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
	scratch = false
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"
		}
		executor {
			queueSize = 1
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbspro"
			time = "8h"

			withName:blocksize {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
				module = "hemelb/dev-${params.defaults.latticetype}"
			}

			withName:latticetype {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
				module = { "hemelb/dev-${latticetype}" }
			}

			withName:oversubscribe {
				clusterOptions = { "-l select=1:ncpus=8:mpiprocs=8:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
				module = "hemelb/dev-${params.defaults.latticetype}"
			}

			withName:scalability_cpu {
				clusterOptions = { "-l select=1:ncpus=8:mpiprocs=8:mem=8gb:gpu_model=${params.defaults.gpu_model}" }
				module = { "hemelb/dev-${latticetype}" }
			}

			withName:scalability_gpu {
				clusterOptions = { "-l select=4:ncpus=2:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
				module = { "hemelb/dev-${latticetype}" }
			}
		}
		executor {
			queueSize = 100
		}
	}
}
