manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=20.01.0"
}



env {
	PATH = "${PATH}:${PWD}/bin"
}



params {
	input {
		dir = "kinc/input"
		emx_files = "*.emx"
		conditions_file = "conditions.txt"
		trials = 5
	}

	output {
		dir = "kinc/output"
	}
}



report {
	enabled = true
	file = "${params.output.dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output.dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output.dir}/reports/trace.txt"
	raw = true
}



docker {
	runOptions = "--init --runtime=nvidia"
}



singularity {
	runOptions = "--bind \$TMPDIR --nv"
	autoMounts = true
	cacheDir = "work-singularity"
}



process {
	container = "systemsgenetics/kinc:3.3.0"
	errorStrategy = "ignore"
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"

			afterScript = "rm -f *.ccm *.cmx"
		}
		executor {
			queueSize = 1
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbspro"
			scratch = true
			time = "72h"

			beforeScript = "module load openmpi/1.10.7; mpirun sleep 10; module rm openmpi"

			withName:run_experiment {
				clusterOptions = { "-l select=${c.np.toInteger().intdiv(2) + 1}:ncpus=${(1 + c.threads.toInteger()) * 2}:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=${c.gpu_model}" }
				module = { "KINC/${c.revision}" }
			}
		}
		executor {
			queueSize = 100
		}
	}
}
