manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=0.32.0"
}

params {
	input {
		dir = "input"
		emx_files = "*.emx"
		gpu_models = ["p100", "v100"]
	}

	output {
		dir = "output"
	}

	defaults {
		revision = "master"
		threads = 1
		clusmethod = "gmm"
		corrmethod = "spearman"
		preout = true
		postout = true
		bsize = 32768
		gsize = 4096
		lsize = 32
	}

	revision {
		enabled = false
		values = ["v3.3.0", "master"]
	}

	threads {
		enabled = false
		values = [1, 2, 3, 4, 5, 6, 7, 8]
	}

	bsize {
		enabled = false
		values = [1024, 2048, 4096, 8192, 16384, 32768]
	}

	gsize {
		enabled = false
		values = [1024, 2048, 4096, 8192, 16384, 32768]
	}

	lsize {
		enabled = false
		values = [16, 32, 64, 128, 256, 512, 1024]
	}

	scalability_v1 {
		enabled = false
		values = [1, 2, 4, 8]
	}

	scalability_cpu {
		enabled = false
		values = [1, 3, 5, 9]
	}

	scalability_gpu {
		enabled = false
		values = [1, 3, 5, 9]
	}
}



report {
	enabled = true
	file = "${params.output.dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output.dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output.dir}/reports/trace.txt"
	raw = true
}



docker {
	runOptions = "--init --runtime=nvidia"
}



singularity {
	runOptions = "--bind \$TMPDIR --nv"
	autoMounts = true
	cacheDir = "work-singularity"
}



process {
	container = "systemsgenetics/kinc:3.3.0"
	errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
	scratch = false
}



profiles {
	standard {
		process {
			executor = "local"
			cpus = 1
			memory = "8 GB"
		}
		executor {
			queueSize = 1
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbs"
			time = "72h"
			module = { "KINC/${params.defaults.revision}" }

			withName:revision {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=1:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
				module = { "KINC/${revision}" }
			}
			withName:threads {
				clusterOptions = { "-l select=1:ncpus=9:mpiprocs=1:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
			}
			withName:bsize {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=1:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
			}
			withName:gsize {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=1:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
			}
			withName:lsize {
				clusterOptions = { "-l select=1:ncpus=2:mpiprocs=1:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
			}
			withName:scalability_v1 {
				clusterOptions = { "-l select=1:ncpus=8:mem=32gb:gpu_model=${gpu_model}" }
				module = "KINC/v1"
			}
			withName:scalability_cpu {
				clusterOptions = { "-l select=1:ncpus=9:mpiprocs=9:mem=8gb:gpu_model=${gpu_model}" }
			}
			withName:scalability_gpu {
				clusterOptions = { "-l select=5:ncpus=6:mpiprocs=2:mem=8gb:ngpus=2:gpu_model=${gpu_model}" }
			}
		}
		executor {
			queueSize = 100
		}
	}
}
