manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}



params {
    input {
        dir = "input"
        emx_txt_files = "*.emx.txt"
        conditions_file = "conditions.txt"
        trials = 1
    }

    output {
        dir = "output"
    }
}



report {
    enabled = true
    file = "${params.output.dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output.dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.dir}/reports/trace.txt"
    raw = true
}



process {
    container = "systemsgenetics/kinc:3.4.2"
    errorStrategy = "ignore"
}



profiles {
    pbs {
        process {
            executor = "pbspro"
            time = "24h"
            module = "kinc/v3.4.2"

            afterScript = "rm -f *.emx *.ccm *.cmx"

            clusterOptions = {
                (c.gpu_model == "cpu")
                ? "-l select=${c.np.toInteger() + 1}:ncpus=1:mpiprocs=1:mem=8gb:phase=16"
                : "-l select=${c.np.toInteger() + 1}:ncpus=${1 + c.threads.toInteger()}:mpiprocs=1:mem=8gb:ngpus=1:gpu_model=${c.gpu_model}"
            }
        }
        executor {
            queueSize = 50
        }
    }

    standard {
        process {
            executor = "local"
            cpus = { c.np }
            memory = "8 GB"

            afterScript = "rm -f *.emx *.ccm *.cmx"
        }
        executor {
            queueSize = 1
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
